#Joseph {
    display: flex;
    border: rgb(0, 136, 255);
    border-style: groove;
    border-width:10px;
    border-radius: 20%;
    margin-left: 20rem;
    
}

#Intro {
    display: flex;
    align-items: flex-start;
    background-color: red;
    border-radius: 10%;
}

.content {
    margin-left: 5rem;
}